rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    // Groups and authorized sub-collections
    match /groups/{groupId} {
      allow read, write: if true;

      match /members/{memberId} {
        allow read, write: if true;
      }

      match /monthly_contributions/{contributionId} {
        allow read, write: if true;
      }

      match /loans/{loanId} {
        allow read, write: if true;
      }

      match /loan_repayments/{repaymentId} {
        allow read, write: if true;
      }

      match /activities/{activityId} {
        allow read, write: if true;
      }
    }
  }
}
